<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="form-wrap">

        <div class="text-center my-5">
          <h2>Smart Contract</h2>
        </div> 

        <%= simple_form_for(@smart_contract) do |f| %>
          <div class="form-inputs">
            <%= f.input :user_key,
                        required: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Submit" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>